@mixin iconBtn {
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-size: 20px 20px;
  border: none;
  background-color: inherit;
}
