@import '../../variables/colorVariables';

.main-page {
  min-height: calc(100vh - 60px);
  flex-grow: 1;
  color: $lightFontColor;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 20px;
  width: 1400px;
  margin: 0 auto;
  @media screen and (max-width: 1400px) {
    width: 900px;
  }
  @media screen and (max-width: 1000px) {
    width: 600px;
  }
  @media screen and (max-width: 600px) {
    width: 300px;
  }
  &__container {
    background: linear-gradient(180deg, #84f0c7, #00a6f4, #292acf);
  }
  &__title {
    font-size: 60px;
    @media screen and (max-width: 600px) {
      font-size: 48px;
    }
  }
  &__description {
    font-size: 28px;
    @media screen and (max-width: 1400px) {
      width: 500px;
      margin: 0 auto;
    }
    @media screen and (max-width: 600px) {
      font-size: 22px;
      width: 100%;
    }
  }
  &__opportunities {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 600px) {
      flex-direction: column;
      align-items: center;
      margin: 10px;
      gap: 15px;
    }
  }
  &__team-cards {
    display: flex;
    width: 750px;
    justify-content: space-between;
    margin: 0 auto;
    @media (max-width: 1000px) {
      width: 600px;
    }
    @media (max-width: 800px) {
      width: 450px;
    }
    @media (max-width: 600px) {
      width: 100%;
      flex-direction: column;
      gap: 10px;
    }
  }
  &__team-title {
    margin-bottom: 40px;
    font-size: 38px;
    @media (max-width: 600px) {
      margin-bottom: 15px;
      font-size: 30px;
    }
  }
}
