@import '../../variables/colorVariables';

.main-page {
  flex-grow: 1;
  height: 100vh;
  background-color: #257b83;
  color: $lightFontColor;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  &__title {
    font-size: 60px;
  }
  &__description {
    font-size: 28px;
  }
  &__opportunities {
    display: flex;
    justify-content: center;
  }
  &__team-cards {
    display: flex;
    width: 750px;
    justify-content: space-between;
    margin: 0 auto;
    @media (max-width: 800px) {
      width: 450px;
      flex-direction: column;
    }
  }
  &__team-title {
    margin-bottom: 40px;
    font-size: 38px;
  }
}
