@import '../../variables/colorVariables';

.textbook-page {
  margin: 0 auto;
  max-width: 1400px;
  text-align: center;
  &__pages {
    display: flex;
    width: 150px;
    justify-content: space-between;
    margin: 0 auto;
  }
  &__left-btn,
  &__right-btn {
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  &__left-btn {
    background-image: url(../../assets/img/arrow-left.png);
  }
  &__right-btn {
    background-image: url(../../assets/img/arrow-right.png);
  }
  &__groupfield {
    position: fixed;
    top: 30%;
    right: 5%;
    display: flex;
    flex-direction: column;
    height: 320px;
    justify-content: space-between;
    &-btn {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      border: none;
      font-size: 32px;
      cursor: pointer;
      &_1 {
        background-color: $groupBg1;
      }
      &_2 {
        background-color: $groupBg2;
      }
      &_3 {
        background-color: $groupBg3;
      }
      &_4 {
        background-color: $groupBg4;
      }
      &_5 {
        background-color: $groupBg5;
      }
      &_6 {
        background-color: $groupBg6;
      }
    }
  }
}
