
@import '../../variables/colorVariables';

.textbook-page {
  margin: 0 auto;
  max-width: 1400px;
  text-align: center;
  min-height: 100vh;
  &__pages {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
  }
  &__left-btn,
  &__right-btn {
    width: 60px;
    height: 30px;
    background: #257b83;
    background-position: center;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 
            5px 5px 7px rgba(0, 0, 0, 0.25), 
      inset 2px 2px 5px rgba(255, 255, 255, 0.25),
      inset -3px -3px 5px rgba(0, 0, 0, 0.5);
  }
  &__left-btn {
    background-image: url(../../assets/img/arrow-left.png);
    
  }
  &__right-btn {
    background-image: url(../../assets/img/arrow-right.png);
  }
  &__groupfield {
    position: fixed;
    top: 30%;
    right: 5%;
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: space-between;
    &-btn {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      border: none;
      font-size: 32px;
      cursor: pointer;
      box-shadow: 
            5px 5px 7px rgba(0, 0, 0, 0.25), 
      inset 2px 2px 5px rgba(255, 255, 255, 0.25),
      inset -3px -3px 5px rgba(0, 0, 0, 0.5);
      &_1 {
        background-color: $groupBg1;
      }
      &_2 {
        background-color: $groupBg2;
      }
      &_3 {
        background-color: $groupBg3;
      }
      &_4 {
        background-color: $groupBg4;
      }
      &_5 {
        background-color: $groupBg5;
      }
      &_6 {
        background-color: $groupBg6;
      }
      &_7 {
        background-color: $groupBg7;
      }
    }
  }
  &__games {
    position: fixed;
    top: 80%;
    right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      color: #bcbcc0;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 14px;
      width: 120px;
      height: 50px;
      border-radius: 20px;
      cursor: pointer;
      background: #257b83;
      box-shadow: 
            5px 5px 7px rgba(0, 0, 0, 0.25), 
      inset 2px 2px 5px rgba(255, 255, 255, 0.25),
      inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    }
  }
}
