@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 1.1em;
  height: 100vh;
  justify-content: space-between;
}
.main {
  height: 100vh;
  padding: 5px;
}
.item-main {
  background-image: url(../public/svg/main.svg);
}
.item-textbook {
  background-image: url(../public/svg/textbook.svg);
}
.item-authorization {
  background-image: url(../public/svg/authorization.svg);
}
.item-game {
  background-image: url(../public/svg/game.svg);
}
.item-statistics {
  background-image: url(../public/svg/statistics.svg);
}