.aside {
  display: flex;
  flex-direction: column;
  width: 300px;
  position: absolute;
  top: 0;
}
.nav {
  padding-top: 30px;
  padding-left: 10px;
}
.menu-container {
  position: relative;
  width: 220px;
  min-height: 191px;
  background: #257b83;
  border-radius: 30px;
  padding: 15px;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
              10px 10px 70px rgba(0, 0, 0, 0.25),
              inset 5px 5px 10px rgba(0, 0, 0, 0.5),
              inset 5px 5px 20px rgba(255, 255, 255, 0.2),
              inset -5px -5px 15px rgba(0, 0, 0, 0.75);
  .menu-item {
    position: relative;
    display: flex;
    align-items: center;
    margin: 20px 0;
    cursor: pointer;
    transition: .5s;
  }
  & .menu-item::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    background: #3a3aa5;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
                inset 2px 2px 5px rgba(255, 255, 255, 0.2),
                inset -3px -3px 5px rgba(0, 0, 0, 0.5);
  }
  & .menu-item:hover::before {
    width: 100%;
  }
  & .menu-item .rank {
    position: relative;
    min-width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
  }
  & .menu-item .rank::before {
    content: '';
    top: 4px;
    position: absolute;
    width: 37px;
    height: 37px;
    background: #257b83;
    border-radius: 30px;
    transform: scale(0);
    transition: .5s;
  }
  & .menu-item:hover .rank::before {
    transform: scale(1);
  }
  & .menu-item .rank span {
    width: 28px;
    height: 28px;
    position: relative;
    font-weight: 600;
    color: #fff;
    font-size: 1em;
    transition: .5s;
    background-size: contain;
  }
  & .menu-item .menu-name {
    position: relative;
    line-height: 1.15em;
  }
  & .menu-item .menu-name a {
    font-weight: 600;
    color: #bcbcc0;
    transition: .5s;
    width: 100%;
  }
  & .menu-item:hover .menu-name a {
    color: #fff;
  }
}
.menu-ico__stat {
  background: url(../../../public/svg/statistics.svg) no-repeat center;
}
.menu-ico__games {
  background: url(../../../public/svg/game.svg) no-repeat center;
}
.menu-ico__main {
  background: url(../../../public/svg/main.svg) no-repeat center;
}
.menu-ico__textbook {
  background: url(../../../public/svg/textbook.svg) no-repeat center;
}